* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(18, 18, 41);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(30, 30, 63);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(196, 196, 240);
    font-size: 1.02rem;
}

main hr {
    border: 0;
    background: rgb(146, 146, 237);
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0px;
}

.firstSection>div {
    width: 38%;
}

.leftSection {
    font-size: 2.8rem;
}

.leftSection .buttons {
    padding: 50px 0;
}

.leftSection .btn {
    padding: 12px;
    background: rgb(30, 30, 63);
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 5px 20px #ddd;
    font-size: 20px;
    cursor: pointer;
}

.leftSection .btn:hover {
    font-size: 20.2px;
}

.rightSection img {
    width: 80%;
    /* margin: 50px 0px; */
}

.text-purple {
    color: rgb(158, 81, 231);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(158, 81, 231);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
}

.secondSection h1 {
    max-width: 280px;
    border-bottom: 0 solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    border-radius: 30px;
    font-size: 1.9rem;
    box-shadow: 0 5px 20px #ddd;
    margin-top: 70px;
}

.profilePic {
    margin: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.secondSection img {
    width: 20%;
}

.bio-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 100px;
}

.thirdSection {
    max-width: 80vw;
    margin: auto;
    height: 90vh;
}

.thirdSection h1 {
    max-width: 310px;
    border-bottom: 0 solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    border-radius: 30px;
    font-size: 1.9rem;
    box-shadow: 0 5px 20px #ddd;
    margin-top: 30px;

}

.thirdSection .box {
    background: white;
    width: 2px;
    height: 50vh;
    margin: 90px 0px;
}

.thirdSection .horizontal {
    width: 80px;
    height: 1px;
    background-color: white;
}

.feynnLabs {
    width: 23px;
    position: relative;
    left: 100px;
    top: -10px;

}

#h-title {
    position: relative;
    width: 100px;
    top: -40px;
    left: 130px;
}

.h-text {
    position: relative;
    width: 850px;
    left: 100px;
    top: -20px;
}

.h-desc {
    position: relative;
    width: 850px;
    left: 100px;
    top: -13px;
}

#projects {
    max-width: 80vw;
    margin: auto;
    height: 260vh;
}

.project-section h1 {
    max-width: 230px;
    border-bottom: 0 solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    border-radius: 30px;
    font-size: 1.9rem;
    box-shadow: 0 5px 20px #ddd;
    margin-top: 30px;
    margin-bottom: 100px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {

    background: rgb(30, 30, 63);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 28px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    transition: all 2s, transform 0.5s, box_shadow 0.5s;
    text-decoration: none;
}

.project:hover {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
    transform: scale(1.08);
}

.project-image {
    height: calc(100% - 13rem);
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
}

.project-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0.5rem;
    color: #fff;
    text-transform: uppercase;
}

.skills {
    max-width: 80vw;
    margin: auto;
    height: 90vh;
    text-align: center;
}

.skills h1 {
    max-width: 230px;
    border-bottom: 0 solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    border-radius: 30px;
    font-size: 1.9rem;
    box-shadow: 0 3px 10px #ddd;
    margin-top: 70px;
    margin-bottom: 120px;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 9.875rem;
    height: 9.25rem;
}

.contacts .first-set .icon:hover {
    width: 9.975rem;
    height: 9.35rem;
}

.contacts {
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}

.contacts h1 {
    max-width: 340px;
    border-bottom: 0 solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    border-radius: 30px;
    font-size: 1.9rem;
    box-shadow: 0 5px 20px #ddd;
    margin-top: 70px;
    margin-bottom: 100px;
}

.contacts .first-set {
    margin-left: 240px;
    justify-content: space-around;
}

.contacts a {
    padding: 80px;
}

footer {
    background-color: rgb(33, 31, 35);

}

.footer {
    display: flex;
    padding: 23px 120px;
    justify-content: space-evenly;
}

.footer-second {
    text-decoration: none;
    color: gray;
}

.footer-second a {
    text-decoration: none;
    color: gray;
}

.footer-second a:hover {
    color: white;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}

.footer-rights .heart {
    color: red;
}